[[source]]
name = "pypi"
url = "https://pypi.org./simple"
verify_ssl = true

[dev-packages]
pytest = '*'
deepdiff = '*'
pyliint = '==2.14.4'
black = '*'
isort = '*'
pre-commit = '*'

[packages]
flask = '*'
gunicorn = "*"

[requires]
python_version = "3.9"
